{% extends 'base.html' %}

{% block content %}
    <div class='card' 
        <div class='card' 
            <h4>Meus Formulários</h4>
            <hr>
            <button class='btn btn-success'>Adicionar</button>
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>HLP</th>
                            <th>Tópico</th>
                            <th>Disciplina</th>
                            <th>Método</th>
                            <th>Quantidade</th>
                            <th>Acertos</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for perfromance_data in performance_forms %}
                        <tr>
                            <td>{{perfromance_data.date}}</td>
                            <td>{{perfromance_data.study_hours}}</td>
                            <td>{{perfromance_data.topic}}</td>
                            <td>{{perfromance_data.total_questions}}</td>
                            <td>{{perfromance_data.total_scores}}</td>
                            <td>{{perfromance_data.subject}}</td>
                            <td>{{perfromance_data.activity_type}}</td>
                            <td>
                                <button class='btn btn-warning'>Editar</button>
                                <button class='btn btn-danger'>Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}